<h1>Secret page</h1>

<p>@ViewBag.Message</p>

<div>
    @if (User.Identity.IsAuthenticated)
    {
        <ul>
            @foreach (var claim in User.Claims)
            {
                <li>@claim</li>
            }
        </ul>
    }
</div>